@import url("https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&family=PT+Sans&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  width: 100%;
  background: #eeeeee;
}

.form-container {
  border-radius: 10px;
  background: #eeeeee;
  box-shadow: 23px 23px 58px #d9d9d9, -23px -23px 58px #ffffff;
  margin: 1em;
  padding: 20px;
}

.form-container .form-logo img {
  display: block;
  margin: auto;
}

.form-container .form-title {
  font-weight: bold;
  font-family: "PT Sans", sans-serif;
  font-style: italic;
  margin-top: 2em;
  text-align: center;
}

.form-container .admission-form {
  background: rgba(245, 245, 245, 0.7);
}

.form-container .admission-form h5 {
  font-family: lato;
  text-align: center;
  margin: 1em;
  font-weight: bold;
  color: #424242;
  letter-spacing: 0.1em;
  position: relative;
}

.form-container .admission-form h5:before {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 45%;
  width: 50px;
  height: 5px;
  background: #424242;
  border-radius: 0px 0px 3px 3px;
}

.form-container input {
  border: none;
  border-radius: 0;
  outline: none;
  border: none;
  background: none;
  border-bottom: 2px solid #424242;
}

.form-container input:focus {
  background: none;
  outline: none;
}

.form-container .file-upload {
  border: none;
}

.form-container p {
  font-family: dosis;
  font-weight: bold;
  text-align: justify;
}

.form-container button {
  margin-bottom: 1em;
  width: 200px;
  padding: 10px;
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.3em;
  color: #424242;
}

.form-row {
  margin: 2em 0;
}

.form-container .admission-form label {
  font-family: dosis;
  font-weight: bold;
  color: #212121;
}

.title {
  margin: 3em;
}

.title h4 {
  font-family: "PT Sans", sans-serif;
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
}

.card {
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 2px;
  background: #eeeeee;
  box-shadow: 8px 8px 39px #d9d9d9, -8px -8px 39px #ffffff;
  margin: 2em;
}

.card .card-header .btn-link {
  color: #424242;
  font-size: 14px;
  text-decoration: none;
  font-family: lato;
}

.card .card-header .job-title {
  font-family: poppins;
  font-weight: bold;
  color: #212121;
  letter-spacing: 0.1em;
  font-size: 18px;
}

.card-body {
  padding: 3em;
}

.job-info h5 {
  font-family: lato;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin-bottom: 1em;
  color: #212121;
  text-align: center;
}

.job-info .card-list li {
  list-style-type: none;
  padding: 5px;
  color: #424242;
  font-family: poppins;
  font-size: 16px;
}

.job-info .card-list li:before {
  content: "\f276"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em; /* same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
